/*CSS Sheet for Weather App*/
h1{
	font-family: Verdana,Arial,sans-serif;
  	font-size: 1.3em;
}
p{
  	font-family: Verdana,Arial,sans-serif;
  	font-size: 1em;
}
.hiddenButton{
	visibility: hidden;
}